@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 1.75rem;
}

h2,
.h2 {
  font-size: 1.25rem;
}

h3,
.h3 {
  font-size: 0.9375rem;
}

h4,
.h4 {
  font-size: 1.40625rem;
}

h5,
.h5 {
  font-size: 1.171875rem;
}

h6,
.h6 {
  font-size: 0.9375rem;
}


/* index.css */

/* Dropdown slide‑down animation */
/* slide‑down for open */
@keyframes slideDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
/* slide‑up for close */
@keyframes slideUp {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}

.slide-down {
  transform-origin: top;
  animation: slideDown 300ms ease-out forwards;
}
.slide-up {
  transform-origin: bottom;    
  animation: slideUp 600ms ease-in forwards;
}
.arrow {
  transition: 300ms ease-out;
}


.slide-down.visible {
  transform: translateY(0);
  opacity: 1;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.submenu.expanded {
  max-height: 500px; /* Adjust based on content height */
}

/* Updated animation classes */
.dropdown-slide-down {
  animation: dropdownSlideDown 0.3s ease-in-out forwards;
}

.dropdown-slide-up {
  animation: dropdownSlideUp 0.3s ease-in-out forwards;
}

@keyframes dropdownSlideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownSlideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.no-scroll {
  overflow: hidden;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.submenu.expanded {
  max-height: 500px; /* Adjust based on content height */
}


.carousels {
  overflow: hidden;
}

.logos {
  display: flex;
}

@keyframes slideSide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0%); }
}
.animate-slideUp {
  animation: slideUp 0.4s ease-out forwards;
}
